*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	background: #012;
	color: #ace;
}
ul{
	list-style: none;
	user-select: none;
}
header nav ul{
	gap: 1px;
	font-size: 3rem;
	text-shadow: -1px -1px #fff, -1px 0 #fff, 0 -1px #fff, 1px 1px #000, 1px 0 #000, 0 1px #000;
}
header nav li{
	flex-grow: 1;
}
section{
	border: 1px solid red;
	width: 100%;
	max-width: 100vmin;
	margin: 0 auto;
}
footer pre{
	overflow-x: hidden;
    text-overflow: ellipsis;
	padding: .5rem;
}
.flex-spaced{
	display: flex;
	justify-content: space-between;
}
.flex-evenly{
	display: flex;
	justify-content: space-evenly;
}
.column{
	flex-direction: column;
}
.grow-s{
	flex-grow: 1;
}
.grow-m{
	flex-grow: 2;
}
.grow-l{
	flex-grow: 3;
}
.label-btn-list li label{
	width: 100%;
	display: block;
	transition: .2s;
	position: relative;
	top: 0;
	background: #024;
	color: #048;
	text-align: center;
	box-shadow: -1px -1px #fff, -1px 0 #fff, 0 -1px #fff, 1px 1px #000, 1px 0 #000, 0 1px #000;
}
.label-btn-list li label:hover{
	color: #08f;
	top: 1px;
}
.label-btn-list li label:active{
	color: #0ff;
	top: 2px;
}
.container, .scrollable{
	position: relative;
}
.container > *, .scrollable > *{
	position: absolute;
	inset: 0;
}
.scrollable > *{
	overflow-y: scroll;
}
.hidden{
	display: none;
}
.t-hidden{
	transition: .2s;
	transform: scale(0);	
}
input:checked + .t-hidden{
	transform: scale(1);
}
#radio-nav{
}
#radio-nav ul li label{
	color: #abc;
	padding: .3rem;
	border-radius: 3px;
}
#radio-section{
}
#audio-canv{
  width: 100%;
}

