*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	background: #012;
	color: #ace;
}
ul{
	list-style: none;
	user-select: none;
}
header nav ul{
	gap: 1px;
	font-size: 3rem;
	text-shadow: -1px -1px #fff, -1px 0 #fff, 0 -1px #fff, 1px 1px #000, 1px 0 #000, 0 1px #000;
}
header nav li{
	flex-grow: 1;
}
section{
	border: 1px solid red;
	width: 100%;
	max-width: 100vmin;
	margin: 0 auto;
}
footer pre{
	overflow-x: hidden;
    text-overflow: ellipsis;
	padding: .5rem;
}
.flex-spaced{
	display: flex;
	justify-content: space-between;
}
.flex-evenly{
	display: flex;
	justify-content: space-evenly;
}
.flex-center{
	display: flex;
	justify-content: center;
}
.column{
	flex-direction: column;
}
.grow-s{
	flex-grow: 1;
}
.grow-m{
	flex-grow: 3;
}
.grow-l{
	flex-grow: 6;
}
.label-btn-list li label{
	width: 100%;
	display: block;
	transition: .2s;
	position: relative;
	top: 0;
	background: #024;
	color: #048;
	text-align: center;
	box-shadow: -1px -1px #fff, -1px 0 #fff, 0 -1px #fff, 1px 1px #000, 1px 0 #000, 0 1px #000;
}
.label-btn-list li label:hover{
	color: #08f;
	top: 1px;
}
.label-btn-list li label:active{
	color: #0ff;
	top: 2px;
}
.container, .scrollable{
	position: relative;
}
.container > *, .scrollable > *{
	position: absolute;
	inset: 0;
}
.scrollable > *{
	overflow-y: scroll;
}
.hidden{
	display: none;
}
.t-hidden{
	transition: .2s;
	transform: scale(0);	
}
input:checked + .t-hidden{
	transform: scale(1);
}


#radio-nav ul li label{
	color: #abc;
	padding: .3rem;
	border-radius: 3px;
}




#radio-section{
	
}



.source-wrapper{
	position: relative;
	align-items: center;
}
.source-wrapper img{
	background: red;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.source-wrapper div{
	align-items: center;
	width: 4rem;
	height: 4rem;
	box-shadow: 0 0 1px 2px #000, 0 0 1px 4px #fff;
	text-shadow: -1px -1px #000, -1px 1px #000, 1px -1px #000, 1px 1px #000, -2px -2px #fff, -2px 2px #fff, 2px -2px #fff, 2px 2px #fff;
	border-radius: 50%;
	color: #fff;
	font-size: 4rem;
}



input[type="range"]{
	writing-mode: vertical-lr;
	appearance: none;
	background: linear-gradient(#a12, #061);
	border-radius: .5rem;
	box-shadow: 0 0 1px 2px #000, 0 0 1px 4px #fff;
	cursor: text;
	width: 1rem;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	background-color: #888;
	box-shadow: 0 0 1px 2px #000, 0 0 1px 4px #fff;
	height: .5rem;
	width: 1.5rem;    
}
#audio-controls{
	padding: 1rem;
	font-size: 1.5rem;
	gap: .5rem;
	text-align: center;
}

